<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %> 
        </header>
    <main class="cajaPadre">
        <%- include("../partials/hb.ejs")  %>
    <% if (!user) { %>
        <div>
            <h2 >Bienvenido a EDATA-LOG</h2>
        </div>
    

    <% } else { %>
        <div class="hijo">
            <h2 class="info">Bienvenido a EDATA-LOG </h2>
            <h3 class="info">Nombre: <%= user.nombre %> </h3>
            <h3 class="info">Apellido: <%= user.nombre %></h3>
            <img src="/avatars/<%= user.imagene %>" alt="" width="100px">
            <a href="/users/modificar/<%= user.id %>" class="editar">editar</a>
            <form action="/users/delete/<%= user.id %>?m=DELETE" method="POST">
                <button type="submit" class="borrar">Borrar</button>
            </form>
        </div>
    <% } %>


    </main>
    <footer class="main-footer">
        <%- include ("../partials/footer.ejs") %> 
    </footer>
    <script src="/scripts/hb.js"></script>
</body>
</html>
