<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %>   
        </header>
<body>
    <main>
    <form action="/productos/actualizar?m=PUT" method="post" enctype="multipart/form-data" id="formulario">
        <input type="hidden" name="id" value="<%= producto.id %>" >
        <section class="formularioPadre">
            <a href="/productos" class="vuelta">Volver</a>
        <div class="formularioHijo" id="formulario1">
            <legend>Nombre de producto</legend>
            <input type="text"
            name="name"
            id="name"
            class="barra"
            value="<%= producto.name %>"
            value="<%= locals.errores && !locals.errores.name && locals.data ? locals.data.name : null %>"class="barra-login">
            <p class="barra-register-error">solo puede tener letras, giones bajos y acentos</p>
            <% if (locals.errores && locals.errores.name) { %>
            <p class="feedback">
                <%= locals.errores.name.msg  %> 
            </p>
            <% } %>
        </div>
        <div class="formularioHijo" id="formulario2">
            <legend>Descripción del producto</legend>
            <input type="text"
            name="descripcion"
            id="descripcion"
            class="barra"
            value="<%= producto.descripcion %>"
            value="<%= locals.errores && !locals.errores.descripcion && locals.data ? locals.data.descripcion : null %>"
            class="barra-login">
            <p class="barra-register-error">la descripcion puede tener letras, giones bajos y acentos</p>
            <% if (locals.errores && locals.errores.descripcion) { %>
            <p class="feedback">
                <%= locals.errores.descripcion.msg  %> 
            </p>
            <% } %>
        </div>
        <div class="formularioHijo2">
            <legend>Plan del producto</legend>
            <input type="radio" name="plan"id="plan-mult"  value="Multiespacio" <%= producto.plan == "Multiespacio" ? "checked" : "" %>>
            <label for="category-mult">Multiespacio</label>
            <input type="radio" name="plan" id="plan-bas"  value="Basico" <%= producto.plan == "Basico" ? "checked" : "" %>>
            <label for="category-bas">Basico</label>
            <input type="radio" name="plan" id="plan-pre"  value="Premium" <%= producto.plan == "Premium" ? "checked" : "" %>>
            <label for="category-pre">Premium</label> 
        </div>
        <div id="formulario3">
            <legend>Archivos</legend>
            <input type="file" name="imagen" class="subirImagen">
            <p class="barra-register-error">No has subido una imagen</p>
        </div>
        <button type="submit" class="botton">Guardar</button>
    </section>
    </form>
</main>
<footer class="main-footer">
    <%- include ("../partials/footer.ejs") %> 
</footer>
<script src="/scripts/edit.js"></script>
</body>
</html>