<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %>   
        </header>
<body>
    <main>
    <form action="/productos/guardar" method="post" enctype="multipart/form-data">
        <section class="formularioPadre">
            <a href="/productos" >Volver</a>

        <fieldset class="formularioHijo">
            <legend>Nombre de producto</legend>
            <input type="text" name="name" id="name"
            value="<%= locals.errores && !locals.errores.name && locals.data ? locals.data.name : null %>"
                        class="barra-login">
                        <% if (locals.errores && locals.errores.name) { %>
                        <p class="feedback">
                            <%= locals.errores.name.msg  %> 
                        </p>
                        <% } %>
        </fieldset>
        <fieldset class="formularioHijo">
            <legend>Descripción del producto</legend>
            <input type="text" name="descripcion" id="Descripcion"
            value="<%= locals.errores && !locals.errores.descripcion && locals.data ? locals.data.descripcion : null %>"
                        class="barra-login">
                        <% if (locals.errores && locals.errores.descripcion) { %>
                        <p class="feedback">
                            <%= locals.errores.descripcion.msg  %> 
                        </p>
                        <% } %>
        </fieldset>
        <fieldset class="formularioHijo2">
            <legend>Plan del producto</legend>
            <input type="radio" name="plan"id="plan-mult" value="Multiespacio">
            <label for="category-mult">Multiespacio</label>
            <input type="radio" name="plan" id="plan-bas" value="Basico">
            <label for="category-bas">Basico</label>
            <input type="radio" name="plan" id="plan-pre" value="Premium" >
            <label for="category-pre">Premium</label> 
        </fieldset>
        <legend class="archivos">Archivos</legend>
        <fieldset class="subirImagen">
            <input type="file" name="imagene">
        </fieldset>


        <button type="submit" class="botton">guardar</button>
    </section>
    </form>
</main>
<footer class="main-footer">
    <%- include ("../partials/footer.ejs") %> 
</footer>
</body>
</html>