<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %>   
        </header>
<body>
    <main>
    <nav>
    </nav>
    <form action="/productos/actualizar?m=PUT" method="post">
        <input type="hidden" name="id"  value= "<%= products.name %>" >
        <section class="formularioPadre">
            <a href="/detalles">Volver</a>

        <fieldset class="formularioHijo">
            <legend>Nombre de producto</legend>
            <input type="text" name="name" id="name" value= "<%= products.name %> " >
        </fieldset>
        <fieldset class="formularioHijo">
            <legend>Descripción del producto</legend>
            <input type="text" name="Descripcion" id="Descripcion" value="<%= products.descripcion %>" >
        </fieldset>
        <fieldset class="formularioHijo2">
            <legend>Plan del producto</legend>
            <input type="radio" name="plan"id="plan-mult" >
            <label for="category-mult">Multiespacio</label>
            <input type="radio" name="plan" id="plan-bas">
            <label for="category-bas">Basico</label>
            <input type="radio" name="plan" id="plan-pre" >
            <label for="category-pre">Premium</label> 
        </fieldset>

        <fieldset>
            <legend>Archivos</legend>
            <input type="file" name="imagen">
        </fieldset>


        <button type="submit" class="botton">guardar</button>
    </section>
    </form>
</main>
<footer class="main-footer">
    <%- include ("../partials/footer.ejs") %> 
</footer>
</body>
</html>