<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %>   
        </header>
<body>
    <main>
    <nav>
    </nav>
    <form action="/productos/actualizar?m=PUT" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= producto.id %>" >
        <section class="formularioPadre">
            <a href="/productos" class="vuelta">Volver</a>

        <fieldset class="formularioHijo">
            <legend>Nombre de producto</legend>
            <input type="text" name="name" id="name" value="<%= producto.name %>" >
        </fieldset>
        <fieldset class="formularioHijo">
            <legend>Descripción del producto</legend>
            <input type="text" name="descripcion" id="descripcion" value="<%= producto.descripcion %>"  >
        </fieldset>
        <fieldset class="formularioHijo2">
            <legend>Plan del producto</legend>
            <input type="radio" name="plan"id="plan-mult"  value="Multiespacio" <%= producto.plan == "Multiespacio" ? "checked" : "" %>>
            <label for="category-mult">Multiespacio</label>
            <input type="radio" name="plan" id="plan-bas"  value="Basico" <%= producto.plan == "Basico" ? "checked" : "" %>>
            <label for="category-bas">Basico</label>
            <input type="radio" name="plan" id="plan-pre"  value="Premium" <%= producto.plan == "Premium" ? "checked" : "" %>>
            <label for="category-pre">Premium</label> 
        </fieldset>

        <fieldset>
            <legend>Archivos</legend>
            <input type="file" name="imagen">
        </fieldset>


        <button type="submit" class="botton">Guardar</button>
    </section>
    </form>
</main>
<footer class="main-footer">
    <%- include ("../partials/footer.ejs") %> 
</footer>
</body>
</html>