<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %> 
        </header>
        <main class="main-login">
            <section class="login-box">
                <h2>Login</h2>
                <form action="/users/access" method="post">
                    <input type="email" 
                           placeholder="usuario o email"
                           name="email"
                           value="<%= locals.errores && !locals.errores.email && locals.data ? locals.data.email : null %>"
                           class="barra-login"
                           >
                           <% if (locals.errores && locals.errores.email) { %>
                            <p class="feedback">
                                <%= locals.errores.email.msg  %> 
                            </p>
                            <% } %>
                    <input type="password"
                           placeholder="contraseña"
                           name="password"
                           value="<%= locals.errores && !locals.errores.password && locals.data ? locals.data.password : null %>"
                           class="barra-login">
                           <% if (locals.errores && locals.errores.password) { %>
                            <p class="feedback">
                                <%= locals.errores.passwordmsg  %> 
                            </p>
                            <% } %>
                    <label for="recordarme" class="recordarme-aqui">recuerdame
                    en este equipo</label>
                    <input type="checkbox" id="recordarme" name="rememberMe"
                    class="caja">
                    <a href="#" class="contraseña-olvidada">¿Olvidaste tu
                    contraseña?</a>
                    <button type="submit" class="botton-form">Enviar</button>
                </form>
            </section>
            <section class="comentary-box">
                <h2>¿Primera vez aqui?</h2>
                <form>
                    <p class="texto-bienvenida">Bienvenido! estamos felices de
                    que estés aqui. Por favor, cuentenos sobre usted.</p>
                    <input type="text" placeholder="Comentarios"
                    class="comentrios-login">
                    <button type="submit" class="botton-form">Continuar</button>
                </form>
            </section>
        </main>
        <footer class="main-footer">
            <%- include ("../partials/footer.ejs") %> 
        </footer>
    </body>
</html>